div(style='position:fixed;top:10px;right:20px;')
    i.fa.fa-user(aria-hidden='true')
    span(style='margin-right:10px;') 569915990
    a.quit(href='#', style='color:black;text-decoration:none;')
        i.fa.fa-wheelchair(aria-hidden='true')
        span 退出
block content